node_modules/
**/node_modules/
**/build/
**/dist/
**/.env
backend/.env
**/.DS_Store
**/logs/
backend/src/data/
backend/data/
**/*.sqlite
**/*.db
**/uploads/
fabric-network/wallet/
fabric-network/crypto-config/
package-lock.json
**/logs/
backend/src/data/
backend/data/
**/*.sqlite
**/*.db
**/uploads/
fabric-network/wallet/
fabric-network/crypto-config/
package-lock.json
